#navbar{
    background-color:black;
    margin:0px;
    
}

#navbar li{
    display: inline-block;
    background-color: black;
    border: 2px solid black;
     
     
}    

#navbar a{
color:white;
text-decoration: none;
}

body{
    background-image: url("http://www.zryxsw.com/data/out/78/1044891-simple-wallpaper.png");
    margin:0;
    padding:100px;
    background-size:cover
}
