#navbar{
    background-color:black;
    margin:0px;
    
}

#navbar li{
    display: inline-block;
    background-color: black;
    border: 2px solid black;
     
     
}    

#navbar a{
color:white;
text-decoration: none;
}

body{
    margin:0;
    div
    padding:100px;
}